.token-lend,
.token-lend-1 {
  align-items: center;
  display: flex;
  min-width: 99px;
}

.rectangle-25,
.rectangle-25-1 {
  height: 42px;
  margin-bottom: 0.0px;
  width: 42px;
}

.dai,
.dai-1,
.dai-2,
.dai-3,
.dai-4,
.dai-5 {
  height: 52px;
  letter-spacing: 0;
  margin-left: 11px;
  width: 38px;
}

