.borrow-6 {
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
  min-width: 1107px;
}

.overlap-group-13 {
  height: 69px;
  position: relative;
  width: 1107px;
}

.rectangle-17 {
  background-color: #c7defa;
  border-radius: 10px;
  height: 67px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1107px;
}

.number {
  height: 66px;
  left: 185px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 76px;
}

.text {
  height: 66px;
  left: 292px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 1px;
  width: 106px;
}

.percent {
  height: 66px;
  left: 418px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
  width: 51px;
}

.x175-min-150 {
  height: 67px;
  left: 660px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 123px;
}

.text-1 {
  height: 67px;
  left: 795px;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 134;
}