.lend,
.lend-1 {
  align-items: flex-end;
  background-color: #c7defa;
  border-radius: 10px;
  display: flex;
  height: 53px;
  justify-content: flex-end;
  margin-top: 12px;
  min-width: 691px;
  padding: 0 16px;
  position: relative;
}

.text-2,
.text-1-1 {
  height: 51px;
  letter-spacing: 0;
  margin-left: 61px;
  text-align: right;
  width: 138px;
}

.percent-1,
.percent-2 {
  height: 51px;
  letter-spacing: 0;
  margin-left: 44px;
  width: 51px;
}

