.liquidate-6 {
  align-items: flex-end;
  background-color: var(--blue-zodiac);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.overlap-group4-1 {
  height: 879px;
  margin-right: 12px;
  margin-top: 61px;
  position: relative;
  width: 1349px;
}

.liquidate-container {
  align-items: center;
  background-color: var(--mist-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  left: 28px;
  min-height: 298px;
  padding: 18px 0;
  position: absolute;
  top: 167px;
  width: 1110px;
}

