.popuptokens {
  align-items: flex-start;
  display: flex;
  height: 535px;
  position: relative;
  width: 478px;
}

.pop-up-overlay .popuptokens {
  background-color: #00000000;
}

#overlay-popuptokens {
  background-color: transparent;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.70);
}
