.header {
  align-items: center;
  display: flex;
  height: 120px;
  margin-right: -1px;
  padding: 0 67px;
  width: 1440px;
}

.logo {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-left: 8px;
  min-width: 287px;
}

.nf-tlend-logo-light-1 {
  height: 50px;
  width: 50px;
}

.nf-tlendxyz {
  height: 45px;
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 2.0px;
  width: 218px;
}

.navigation {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  min-width: 661px;
}

.dashboard-1 {
  cursor: pointer;
  height: 28px;
  letter-spacing: 0;
  width: 130px;
}

.borrow {
  cursor: pointer;
  height: 28px;
  letter-spacing: 0;
  margin-left: 20px;
  width: 94px;
}

.place {
  cursor: pointer;
  height: 28px;
  letter-spacing: 0;
  margin-left: 20px;
  width: 56px;
}

.liquidate {
  cursor: pointer;
  height: 28px;
  letter-spacing: 0;
  margin-left: 20px;
  width: 108px;
}

.overlap-group-1 {
  align-items: flex-start;
  background-color: #d68d00;
  border-radius: 10px;
  display: flex;
  margin-left: 20px;
  min-width: 185px;
  cursor: pointer;
}

.connect-wallet {
  height: 46px;
  letter-spacing: 0;
  text-align: center;
  width: 185px;
}

.header.header-1,
.header.header-2,
.header.header-4,
.header.header-5 {
  margin-right: unset;
}

.header.header-3 {
  left: 1px;
  margin-right: unset;
  position: absolute;
  top: 0;
}

.overlap-group-1:hover {
  background-color: #ffa800;
}

.overlap-group-1:active {
  background-color: #d68d00;
}

.nav-title:hover {
  text-decoration: underline;
}

.nav-title:active {
  text-decoration: none;
}

.overlap-group-3-balance {
  align-items: center;
  background-color: #c4c4c426;
  border-radius: 10px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 299px;
  padding: 10px 5px;
  cursor: pointer;
}

.overlap-group1-1-balance {
  align-self: flex-end;
  height: 25px;
  position: relative;
  width: 100%;
}

.weth-logo {
  height: 30px;
  left: 0px;
  position: relative;
  top: -1px;
  width: 30px;
}

.usdc-logo {
  height: 30px;
  left: 0px;
  position: relative;
  top: -1px;
  width: 30px;
}

.dai-logo {
  height: 30px;
  left: 0;
  position: relative;
  margin-left: 0px;
  top: -1px;
  width: 30px;
}

.balance {
  letter-spacing: 0;
  margin-left: 5px;
  margin-right: 10px;
  position: relative;
}

.balance-item {
  float: left;
  display: flex;
}