.borrow-token {
  align-items: center;
  display: flex;
  height: 28px;
  min-width: 211px;
  position: relative;
}

.token {
  height: 25px;
  letter-spacing: 0;
  margin-top: 1.0px;
  min-width: 62px;
}

.borrow-token.borrow-maturity {
  margin-top: 4px;
}

.borrow-token.borrow-maturity .token {
  min-width: 84px;
}

