.button-liquidate {
  align-items: flex-start;
  border-radius: 5px;
  display: flex;
  height: 47px;
  justify-content: center;
  left: 975px;
  min-width: 87px;
  position: absolute;
  top: 11px;
}

.overlap-group-14 {
  height: 47px;
  position: relative;
  width: 113px;
  margin: 0;
  padding: 0;
  border: 0;

}

.rectangle-11 {
  background-color: var(--blue-zodiac);
  cursor: pointer;
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 113px;
}

.repay-1 {
  height: 47px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  border-radius: 5px;
}

.repay-1:hover {
  background-color: #1b3f68;
  border-radius: 5px;
}

.repay-1:active {
  background-color: var(--blue-zodiac);
  border-radius: 5px;
}