.token-borrow-2,
.token-borrow-2.token-borrow {
  align-items: center;
  display: flex;
  height: 66px;
  left: 19px;
  min-width: 113px;
  position: absolute;
  top: 1px;
}

.rectangle-19-3 {
  height: 41px;
  margin-bottom: 7.0px;
  width: 50px;
}

.place-9 {
  height: 66px;
  letter-spacing: 0;
  margin-left: 11px;
  width: 52px;
}

.token-borrow-2.token-borrow-1 {
  top: 2px;
}

