.token-borrow-3 {
  align-items: center;
  display: flex;
  height: 66px;
  left: 20px;
  min-width: 113px;
  position: absolute;
  top: 2px;
}

.rectangle-19-1 {
  height: 48px;
  margin-bottom: 0.0px;
  width: 48px;
}

.place-6 {
  height: 66px;
  letter-spacing: 0;
  margin-left: 11px;
  width: 52px;
}

.token-borrow-3.token-borrow-1 {
  left: 19px;
  top: 1px;
}

.token-borrow-3.token-borrow-2 {
  align-items: center;
  display: flex;
  height: 66px;
  left: 19px;
  min-width: 113px;
  position: absolute;
  top: 1px;
}

