.instructions,
.instructions-1,
.instructions-2,
.instructions-3 {
  align-items: center;
  display: flex;
  height: 70px;
  left: 32px;
  min-width: 1011px;
  position: absolute;
  top: 21px;
}

.text-13,
.text-16,
.text-25,
.text-28 {
  height: 60px;
  letter-spacing: 0;
  min-width: 1011px;
}

