.borrow-data-coll-ratio {
  align-items: flex-start;
  display: flex;
  height: 20px;
  left: 8px;
  min-width: 440px;
  position: absolute;
  top: 107px;
}

.maturity-1 {
  height: 20px;
  letter-spacing: 0;
  width: 255px;
}

.d {
  height: 20px;
  letter-spacing: 0;
  margin-left: 37px;
  text-align: right;
  width: 144px;
}

.borrow-data-coll-ratio.borrow-data-floor-price {
  top: 32px;
}

.borrow-data-coll-ratio.borrow-data-floor-price .maturity-1 {
  align-self: flex-end;
  width: 217px;
}

.borrow-data-coll-ratio.borrow-data-floor-price .d {
  margin-left: 75px;
}

.borrow-data-coll-ratio.borrow-data-collateral {
  min-width: 441px;
  top: 7px;
}

.borrow-data-coll-ratio.borrow-data-collateral .maturity-1,
.borrow-data-coll-ratio.borrow-data-collateral-1 .maturity-1 {
  width: 115px;
}

.borrow-data-coll-ratio.borrow-data-collateral .d,
.borrow-data-coll-ratio.borrow-data-collateral-1 .d {
  margin-left: 176px;
  width: 146px;
}

.borrow-data-coll-ratio.borrow-data-coll-ratio-1 {
  top: 106px;
}

.borrow-data-coll-ratio.borrow-data-collateral-1 {
  min-width: 441px;
  top: 6px;
}

