.liquidate-7 {
  align-items: flex-start;
  display: flex;
  margin-top: 11px;
  min-width: 1082px;
}

.overlap-group-18 {
  height: 68px;
  position: relative;
  width: 1082px;
}

.rectangle-20 {
  background-color: #c7defa;
  border-radius: 10px;
  height: 67px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1082px;
}

.overlap-group-19 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 5px;
  display: flex;
  height: 47px;
  left: 948px;
  min-width: 113px;
  position: absolute;
  top: 11px;
}

.liquidate-8 {
  height: 44px;
  letter-spacing: 0;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.overlap-group-19:hover {
  background-color: #1b3f68;
}

.overlap-group-19:active {
  background-color: var(--blue-zodiac);
}

.text-3 {
  height: 67px;
  left: 723px;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 164px;
}

.x130-min-150 {
  height: 67px;
  left: 578px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 123px;
}

.text-2-1 {
  height: 66px;
  left: 188px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 160px;
}

