.popuptokens {
  align-items: flex-start;
  background-color: #000000bf;
  display: flex;
  height: 1024px;
  padding: 0 481px;
  position: relative;
  width: 1440px;
}

.overlay .popuptokens {
  background-color: #00000000;
}

#overlay-popuptokens {
  background-color: #000000bf;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}