.button-withdraw-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 17px;
  min-width: 89px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.withdraw {
  height: 37px;
  letter-spacing: 0;
  text-align: center;
  width: 89px;
}

.withdraw:hover {
  font-weight: 600;
}

.withdraw:active {
  font-weight: normal;
}

.button-withdraw-2.button-withdraw-1 {
  cursor: pointer;
}