.borrow-6 {
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
  min-width: 1196px;
}

.overlap-group-13 {
  height: 69px;
  position: relative;
  width: 1196px;
}

.rectangle-17-1 {
  background-color: var(--tropical-blue);
  border-radius: 10px;
  height: 67px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1196px;
}

.number-1 {
  height: 66px;
  left: 184px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 76px;
}

.text {
  height: 66px;
  left: 291px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 1px;
  width: 106px;
}

.percent-3 {
  height: 66px;
  left: 429px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
  width: 51px;
}

.x175-min-150-1 {
  height: 67px;
  left: 668px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 123px;
}

.text-4 {
  height: 67px;
  left: 806px;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 123px;
}

