.button-withdraw-2 {
  align-items: flex-start;
  align-self: center;
  border-radius: 5px;
  display: flex;
  margin-left: 17px;
  min-width: 89px;
  cursor: pointer;
}

.withdraw {
  height: 37px;
  letter-spacing: 0;
  text-align: center;
  width: 89px;
}

.button-withdraw-2.button-withdraw-1 {
  cursor: pointer;
}

