.items-scroll {
  align-items: flex-end;
  background-color: #c4c4c426;
  border-radius: 5px;
  display: flex;
  height: 275px;
  left: 0;
  min-width: 233px;
  padding: 5.5px 78px;
  position: absolute;
  top: 0;
  scroll-behavior: smooth;
}

.polygon-4 {
  height: 9px;
  width: 75px;
}

