:root { 
  --black: #000000;
  --blue-zodiac: #122c4a;
  --blue-zodiac-2: #132c4a;
  --blue-zodiac-3: #122c4a2b;
  --geebung: #d68d00;
  --mist-gray: #c4c4c426;
  --pattens-blue: #e0eeff;
  --pickled-bluewood: #2e435c;
  --red: #ff0000;
  --tropical-blue: #c7defa;
  --web-orange: #ffa800;
  --white: #ffffff;
 
  --font-size-l: 25px;
  --font-size-m: 24px;
  --font-size-s: 22px;
  --font-size-xl: 28px;
  --font-size-xs: 20px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 36px;
 
  --font-family-oxanium: "Oxanium", Helvetica;
}
.oxanium-normal-black-20px {
  color: #000000;
  font-family: "Oxanium", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.oxanium-normal-white-20px {
  color: #ffffff;
  font-family: "Oxanium", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.oxanium-normal-black-24px {
  color: #000000;
  font-family: "Oxanium", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.oxanium-normal-white-22px {
  color: #ffffff;
  font-family: "Oxanium", Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.oxanium-bold-black-20px {
  color: #000000;
  font-family: "Oxanium", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.oxanium-normal-black-25px {
  color: #000000;
  font-family: "Oxanium", Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.oxanium-semi-bold-black-20px {
  color: #000000;
  font-family: "Oxanium", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.oxanium-bold-web-orange-24px {
  color: #ffa800;
  font-family: "Oxanium", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.oxanium-extra-light-web-orange-18px {
  color: #ffa800;
  font-family: "Oxanium", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}

.oxanium-extra-light-web-white-18px {
  color: #ffffff;
  font-family: "Oxanium", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}

.oxanium-extra-light-web-orange-24px {
  color: #ffa800;
  font-family: "Oxanium", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
}

.oxanium-semi-bold-web-orange-36px {
  color: #ffa800;
  font-family: "Oxanium", Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}

.oxanium-bold-white-22px {
  color: #ffffff;
  font-family: "Oxanium", Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.oxanium-bold-red-20px {
  color: #ff0000;
  font-family: "Oxanium", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.oxanium-bold-web-orange-32px {
  color: #ffa800;
  font-family: "Oxanium", Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.oxanium-normal-red-20px {
  color: #ff0000;
  font-family: "Oxanium", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.oxanium-normal-white-24px {
  color: #ffffff;
  font-family: "Oxanium", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.border-1px-pickled-bluewood {
  border: 1px solid #2e435c;
}

.border-1px-black {
  border: 1px solid #000000;
}

.border-2px-white {
  border: 2px solid #ffffff;
}