.lends-header,
.lends-header-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 380px;
}

.your-lends,
.your-lends-1 {
  height: 25px;
  letter-spacing: 0;
  width: 124px;
}

.market-size,
.market-size-1 {
  height: 25px;
  letter-spacing: 0;
  margin-left: 82px;
  min-width: 148px;
}

.current-balance,
.current-balance-1 {
  height: 25px;
  letter-spacing: 0;
  margin-left: 12px;
  min-width: 148px;
}

.apy,
.apy-1 {
  height: 25px;
  letter-spacing: 0;
  margin-left: 40px;
  width: 38px;
}

