.background-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 879px;
  position: absolute;
  top: 0;
  width: 1349px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  margin-left: 64.0px;
  min-width: 1029px;
}

.bored-ape-logo-outline-1-5 {
  height: 125px;
  margin-top: 1.0px;
  width: 125px;
}

.punk-pipe-outli-ovebg-preview-1-5 {
  height: 240px;
  margin-left: 682px;
  width: 222px;
}

.overlap-group-15 {
  height: 465px;
  margin-top: 174px;
  position: relative;
  width: 1357px;
}

.coolcat-outline-ovebg-preview-1-5 {
  height: 368px;
  left: 989px;
  object-fit: cover;
  position: absolute;
  top: 69px;
  width: 368px;
}

.punk-woman-outl-ovebg-preview-1-5 {
  height: 392px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 45px;
  width: 393px;
}

.punk-ape-outlin-ovebg-preview-1-5 {
  height: 162px;
  left: 330px;
  position: absolute;
  top: 79px;
  width: 195px;
}

.bbape-removebg-convert-image-2-5 {
  height: 313px;
  left: 717px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 313px;
}

.loading-skull-noun-2-5 {
  height: 265px;
  left: 466px;
  object-fit: cover;
  position: absolute;
  top: 200px;
  width: 265px;
}

