.asset-item-3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 495px;
  min-width: 136px;
  position: absolute;
  top: 12px;
}

.rectangle-18 {
  height: 48px;
  object-fit: cover;
  width: 44px;
}

.rectangle-18 {
  height: 48px;
  object-fit: cover;
  width: 44px;
  background-color: #638596;
}

.fidenza-157 {
  height: 50px;
  letter-spacing: 0;
  margin-left: 20px;
  margin-top: -2px;
}

.asset-item-3.asset-item-1 {
  left: 408px;
  top: 10px;
}

.asset-item-3.asset-item-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 48px;
  left: 504px;
  min-width: 136px;
  position: absolute;
  top: 12px;
}

