.container-status {
    width: 300px;
    text-align: center;
}

.transaction-status {
    width: 100px;
    margin-left:auto;
    margin-right:auto;
    align-items:center;
}

.transaction-status-text {
    position:relative;
    left: -10px;
}