.transaction-status {
    color: var(--white);
    font-family: var(--font-family-oxanium);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 200;
    align-items: center;
    display: flex;
    width: 100%;
}